<div class="author">
    <h3>First Name: {{author.first_name}}</h3>
    <p>Last Name: {{author.last_name}}</p>
    <p>Date Of Birth: {{author.date_of_birth}}</p>
    <p>Date Of Death: {{author.date_of_death}}</p>
</div>