<div class="authors">
    {{#each authors}}
    <li>
        <h3>{{this.name}}</h3>
        {{#if this.date_of_birth}}
        <p>Birth Date: {{this.date_of_birth}}</p>
        {{/if}} 
        {{#if this.date_of_death}}
        <p>Death Date: {{this.date_of_death}}</p>
        {{/if}}
        <a href={{this.url}}>Know More</a>
    </li>
    {{/each}}
</div>