<div class="author">
    <p><b>First Name: </b>{{author.first_name}}</p>
    <p><b>Last Name: </b>{{author.last_name}}</p>
    <p><b>Date Of Birth: </b>{{author.date_of_birth}}</p>
    <p><b>Date Of Death: </b>{{author.date_of_death}}</p>
</div>