<div class="authors">
    {{#each authors}}
    <li>
        <h3 class="text-center">{{this.name}}</h3>
        {{#if this.date_of_birth}}
        <p><b>Birth Date: </b>{{this.date_of_birth}}</p>
        {{/if}} 
        {{#if this.date_of_death}}
        <p><b>Death Date: </b>{{this.date_of_death}}</p>
        {{/if}}
        <p class="text-center"><a href={{this.url}}>Know More</a></p>
    </li>
    {{/each}}
</div>