<div class="book">
    <h3>{{bookInstance.book.title}}</h3>
    <p>Status: {{bookInstance.status}}</p>
    <p>Due Back: {{bookInstance.due_back}}</p>
    <p>Imprint: {{bookInstance.imprint}}</p>
</div>
